matplotlib==3.5.1
numpy
pandas
opencv-python-headless
Pillow==9.1.0
plotly==5.6.0
requests==2.27.1
streamlit==1.8.1
streamlit_drawable_canvas==0.9.0
torch==1.11.0
torchmetrics==0.7.3
torchvision==0.12.0
torch-optimizer==0.1.0
pytorch_lightning==1.6.0
altair==4.2.0
ffmpeg
mmcv-full -f https://download.openmmlab.com/mmcv/dist/cu113/torch1.11/index.html
mmsegmentation==0.23.0
